<% if (errors) {%>
    <ul>
        <% errors.forEach(function(error) { %>
            <li class="text-danger">
                <%= error.msg %>
            </li>
            <% }); %>
    </ul>
    <% } %>