html[data-bs-theme="dark"] main a {
  color: #ffffff;
}

html[data-bs-theme="light"] main a {
  color: #212529;
}

main div .new-folder-btn {
  border: var(--new-folder-btn-border);
}

main .item {
  width: 200px;
  min-width: 200px;
  display: flex;
  flex-direction: column;
  gap: 3px;
}

main .items-container {
  display: flex;
  flex-direction: row;
}

main .item-icon {
  min-height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--item-icon-bg);
  height: 100%;
  border: var(--item-icon-border);
  border-radius: 6px;
}

main .item-icon:hover {
  border-color: #38bdf8;
  cursor: pointer;
  background-color: var(--item-icon-hover-bg);
}

main .item-icon svg {
  width: 50px;
  height: 50px;
  color: #38bdf8;
}

main .item p {
  text-align: center;
}

main .item .dropdown {
  position: relative;
}
main .item .dropdown svg {
  position: absolute;
  top: 4px;
  right: 3px;
  color: grey;
}
main .item .dropdown svg:hover {
  cursor: pointer;
  color: var(--dropdown-icon-color-hover);
}

@media (max-width: 565px) {
  main .item {
    max-width: 100px;
  }
}

@media (max-width: 480px) {
  main .item {
    min-width: 100%;
  }

  main .items-container {
    flex-direction: column;
  }
}
