html[data-bs-theme="dark"] main a {
  color: #ffffff;
}

html[data-bs-theme="light"] main a {
  color: #212529;
}

main div .new-folder-btn {
  border: var(--new-folder-btn-border);
}

main .item {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  padding: 4px 12px 0 12px;
  border-radius: 8px;
  border: 1px solid transparent;
  transition:
    background-color 0.2s,
    border-color 0.2s;
}

main .item:hover {
  background-color: var(--item-hover-bg);
  cursor: pointer;
  border-color: #38bdf8;
}

main .items-container {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

main .item-icon {
  min-height: auto;
  min-width: 48px;
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  border-radius: 0;
  flex-shrink: 0;
}

main .item-icon:hover {
  background-color: transparent;
  cursor: pointer;
}

main .item-icon svg {
  width: 32px;
  height: 32px;
  color: #38bdf8;
}

main .item p {
  text-align: left;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 15px;
}

main .item .dropdown {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
main .item .dropdown svg {
  position: relative;
  top: auto;
  right: auto;
  color: grey;
  margin-left: 8px;
}
main .item .dropdown svg:hover {
  cursor: pointer;
  color: var(--dropdown-icon-color-hover);
}

@media (max-width: 565px) {
  main .item {
    padding: 6px 8px;
  }

  main .item p {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  main .item {
    width: 100%;
  }

  main .items-container {
    flex-direction: column;
  }
}
