html[data-bs-theme="dark"] {
  --bg-color: #18181b;
  --border-bottom-color: 1px solid rgba(255, 255, 255, 0.2);
  --log-in-btn-bg: #18181b;
  --log-in-btn-color: white;
  --log-in-border: 1px solid rgba(255, 255, 255, 0.2);
  --new-folder-btn-border: 1px solid rgba(255, 255, 255, 0.2);
  --item-icon-border: 1px solid rgba(255, 255, 255, 0.2);
  --item-icon-bg: #18181b;
  --item-hover-bg: #141e26;
  --sign-up-btn-bg: white;
  --sign-up-btn-color: black;
  --theme-toggler-text-color: rgba(255, 255, 255, 0.65);
  --dropdown-icon-color-hover: white;
}

html[data-bs-theme="light"] {
  --bg-color: #fafafa;
  --border-bottom-color: 1px solid rgba(0, 0, 0, 0.1);
  --log-in-btn-bg: #fafafa;
  --log-in-btn-color: black;
  --log-in-border: 1px solid rgba(0, 0, 0, 0.1);
  --new-folder-btn-border: 1px solid rgba(0, 0, 0, 0.1);
  --item-icon-border: 1px solid rgba(0, 0, 0, 0.1);
  --item-icon-bg: #fafafa;
  --item-hover-bg: #f0f9ff;
  --sign-up-btn-bg: #18181b;
  --sign-up-btn-color: white;
  --theme-toggler-text-color: rgba(0, 0, 0, 0.65);
  --dropdown-icon-color-hover: dark;
}

html {
  background-color: var(--bg-color);
}

body {
  height: 100vh;
}

/* Header */
header {
  background-color: var(--bg-color);
  border-bottom: var(--border-bottom-color);
}

header img {
  width: 40px;
  height: 40px;
}

.log-in-btn {
  background-color: var(--log-in-btn-bg);
  color: var(--log-in-btn-color);
  border: var(--log-in-border);
}

.sign-up-btn {
  background-color: var(--sign-up-btn-bg);
  color: var(--sign-up-btn-color);
}

header span {
  color: var(--theme-toggler-text-color);
}

/* Main */
main {
  background-color: var(--bg-color);
}

main > div {
  margin-top: 5rem;
}

/* Footer */
footer {
  background-color: var(--bg-color);
}
